

body {
    background-color: #454545;
}

header, footer {
    background-color: #C1B39A;
}

.text  {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/*iPhone 8*/
@media screen and (max-width: 375px) {
    h1 {
        font-weight: bold;
        font-size: 16px;
    }
    h2 {
        font-weight: lighter;
        font-size: 10px;
    }
    #hamburger-icon #img-hamburger {
        width: 30px;
        height: auto;
        cursor: pointer;
    }
}

/*Tablet*/
@media screen and (max-width: 768px) {
    h1 {
        font-weight: bold;
        font-size: 24px;
    }
    h2 {
        font-weight: lighter;
        font-size: 16px;
    }
}

h1 {
    font-weight: bold;
    font-size: 60px;
}

h2 {
    color: #eaebeb;
    font-weight: lighter;
    font-size: 48px;
}

#copy {
    font-weight: lighter;
}

#logo {
    max-width: 15%;
    margin-top: 2%;
    margin-left: 2%;
}

.hamburger-menu {
    display:none;
  }